
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/*###############################################################################################################################################################*/

ul li ul.dropdown li {
    display: block;
    padding: 5px 0;
}

ul li .dropdown {
    width: 210px;
    background-color: #242323;
    position: absolute;
    z-index: 999;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    padding: 15px 0;
}

ul li a:hover {
    background: #242323;
}

ul li:hover .dropdown {
    display: block;
    margin: 10px;
}


header{
    position: flex;
    top: 0%;
    left: 0%;
    padding: 20px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
    background-color: #242323;
}

.logo{
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    text-decoration: none;
}

.navbar{
    display: flex;
    position: relative;
}

.navbar li{
    list-style: none;
    font-size: 17px;
}

.navbar a{
    color: #fff;
    text-decoration: none;
    margin-left: 35px;
    font-weight: 900; 
}

header .navbar li a:hover{
    color: #a9621f;
    border-bottom: 2px solid #a9621f;
}

.bouton-pour-inscripconnex{
    padding: 10px 20px;
    background: #a9621f;
    margin-top: -10px;
   text-transform:uppercase ;
   color: #fff;
   border-radius: 10px;
}

.bouton-pour-inscripconnex:hover{
    background: #242323;
    transition: ease-out;
}

/*###############################################################################################################################################################*/

main {
    background-image: url(images/Img_Connection.jpg);
    background-size: cover;
    margin: 0px 0;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.info{
    width: 60%;
    color: #242323;
    border-radius: 30px;
    padding: 30px 40px;
    background:#ccc;
    border: 2px solid rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 100px rgba(51, 49, 49, 0.2);
}

h1{
    font-size: 30px;
    color: #242323;
    text-align: center;
    margin-right: 41px;
}

.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

.left-content{
    display: grid;
    justify-content: center;
    font-weight: bold;
    border-radius: 10px;
    padding: 0 40px;
    text-align: center;
    text-transform: uppercase;

}

.right-image{
    width: 60%;
    color: #242323;
    border-radius: 10px;
    padding: 10px 40px;
}

.profile{
    width: 170px;
    height: 170px;
    border-radius:120px;
    position: relative;
    overflow: hidden; 
    margin-bottom: 20px; 
}

.Modify{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    align-items: center;
    text-align: center;
}

.Modify:hover {
    background-color: #a9621f;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
 /*###############################################################################################################################################################*/

